In [1]:
def hi():
    print("hello students")
    print("teja "*5)
hi()

hello students
teja teja teja teja teja

In [7]:
#function with parameters
def add(a,b):
    return a+b
student1=int(input("enter the money: "))
student2=int(input("enter the money: "))
total= add(student1, student2)
print("total amount:", total)

enter the money:  10
enter the money:  10

total amount: 20

In [15]:
#function with parameters/return value
def add(student1,student2):
    print("total:",student1 + student2)
student1=int(input("enter the money: "))
student2=int(input("enter the money: "))
add(student1,student2)

enter the money:  10
enter the money:  15

total: 25

In [17]:
def value():
    return 3.14159
result=value()
print("value in the function is",result)

value in the function is 3.14159

In [23]:
def get_name():
    name=input("enter the name: ")
    return name
username= get_name()
print("welcome",username)

enter the name:  teja

welcome teja

In [25]:
a=100
def value(a):
    return a
print(value(a))

100

In [27]:
a=100
def value(a):
    return a+20
print(value(a))

120

In [31]:
def hi(name='guest'):
    print("hello",name)
a=input("enter data:")
hi()

enter data: teja

hello guest

In [33]:
def hi(name='guest'):
    print("hello",name)
a=input("enter data:")
hi()
hi(a)

enter data: t e j a

hello guest
hello t e j a

In [39]:
def info(name='unkown', age=0):
    print("name:",name)
    print("age:",age)
info("teja", 19)
info("mark")
info(age=33)
info()

name: teja
age: 19
name: mark
age: 0
name: unkown
age: 33
name: unkown
age: 0

In [41]:
def cal(a,b):
    return a+b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum=cal(a,b)
print("sum=", sum)

enter a: 2
enter b: 4

sum= 6

In [43]:
def cal(a,b):
    return a+b, a-b, a*b, a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum, diff, pro, div= cal(a,b)
print("sum=", sum)
print("subraction=", diff)
print("prouduct=", pro)
print("division=", div)

enter a: 2
enter b: 4

sum= 6
subraction= -2
prouduct= 8
division= 0.5

In [45]:
def cal(a,b):
    return a+b, a-b, a*b, a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum, diff, pro, div= cal(a,b)
print("sum=", sum)
print("subraction=", diff)
print("prouduct=", pro)
print("division=", div)

enter a: 6
enter b: 2

sum= 8
subraction= 4
prouduct= 12
division= 3.0

In [49]:
def max_min(a,b,c):
    return max(a,b,c), min(a,b,c)
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
maxi, mini=max_min(a,b,c)
print("maximum:",maxi)
print("minimum:",mini)

enter a: 9
enter b: -4
enter c: 22

maximum: 22
minimum: -4

In [51]:
''' wrirte a funccction to count the list of even and odd numbers...calculate the even odd confirmation in
in the funtion such that evaluted number list will be passed to the main program'''

def eo(numbers):
    e=0
    o=0
    for n in numbers:
        if n % 2 ==0:
            e+=1
        else:
            o+=1
    return e,o
num=input("enter the number as space seperated: ")
num_list=list(map(int, num.split()))
e,o=eo(num_list)
print("even count:",e)
print("odd count:",o)

enter the number as space seperated:  10 11 23 44 55 66 99

even count: 3
odd count: 4