In [1]:
def hi():
    print("hello students")
    print("teja "*5)
hi()

hello students
teja teja teja teja teja

In [7]:
#function with parameters
def add(a,b):
    return a+b
student1=int(input("enter the money: "))
student2=int(input("enter the money: "))
total= add(student1, student2)
print("total amount:", total)

enter the money:  10
enter the money:  10

total amount: 20

In [15]:
#function with parameters/return value
def add(student1,student2):
    print("total:",student1 + student2)
student1=int(input("enter the money: "))
student2=int(input("enter the money: "))
add(student1,student2)

enter the money:  10
enter the money:  15

total: 25

In [17]:
def value():
    return 3.14159
result=value()
print("value in the function is",result)

value in the function is 3.14159

In [23]:
def get_name():
    name=input("enter the name: ")
    return name
username= get_name()
print("welcome",username)

enter the name:  teja

welcome teja

In [25]:
a=100
def value(a):
    return a
print(value(a))

100

In [27]:
a=100
def value(a):
    return a+20
print(value(a))

120