In [11]:
fact=1
def factorial(n):
    global fact
    fact=1
    for i in range(1,n+1):
        fact *=i
    return fact
num=int(input("enter a number"))
if num<0:
    print("cannot derive fact for negative numbers")
else:
    factorial(num)
    print(f"factorial of {num} is ",fact)

enter a number 4

factorial of 4 is  24

In [13]:
fact=1
def factorial(n):
    global fact
    fact=1
    for i in range(1,n+1):
        fact *=i
    return fact
num=int(input("enter a number"))
if num<0:
    print("cannot derive fact for negative numbers")
else:
    factorial(num)
    print(f"factorial of {num} is ",fact)

enter a number -4

cannot derive fact for negative numbers

In [15]:
'''recursive funtion'''
def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)
num=int(input("enter a value:"))
value =factorial(num)
print(value)

enter a value: 4

24

In [17]:
def nsum(n):
    if n==0:
        return 0
    return n+nsum(n-1)
        
num=int(input("enter n:"))
print("sum of first",num,"natural number is",nsum(num))

enter n: 3

sum of first 3 natural number is 6

In [4]:
def rstring(s):
    if len(s)==0:
        return s
    return rstring(s[1:])+s[0]

text=input("enter a word")
print(rstring(text))

enter a word teja

ajet

In [6]:
text=input("enter a word")
print(rstring(text))

enter a word teja

ajet

In [12]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [16]:
'''positional arg- *arg'''

def sumnum(*args):
    print(args[4])
    return sum(args)
print(sumnum(1,2,3,4,5,6,7,8,9,10))

5
55

In [18]:
def sumnum(*args):
    print(args[6])
    return sum(args)
print(sumnum(1,2,3,4,5,6,7,8,9,10))

7
55

In [20]:
def sumnum(*args):
    print(args[2])
    return sum(args)
print(sumnum(-22,20,50,32))

50
80

In [22]:
def mathnum(*args):
    print(args[4])
    return sum(args)
print(mathnum(1,2,3,4,5,6,7,8,9,10))

5
55

In [32]:
def num(*args):
    print(args[4])
    return max(args)
print(sumnum(1,2,3,4,5,6,7,8,9,10))

3
55

In [50]:
def sumnum(*args):
    print(args[1])
    return min(args)
print(sumnum(1,2,3,4,5,6,7,8,9,10))

2
1

In [44]:
'''keyword args **kwargs'''
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
info(name='teja',age=20,cgpa=7.5)

name:teja
age:20
cgpa:7.5

In [56]:
'''keyword args **kwargs'''
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
    name=kwargs["name"]
    print(f"name:{name}")
info(name='teja',age=20,cgpa=7.5)

name:teja
age:20
cgpa:7.5
name:teja

In [60]:
'''keyword args **kwargs'''
def info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
    name=kwargs["name"]
    print(f"name:{name}")
info(name='teja',age=20,cgpa=7.5)

name:teja
age:20
cgpa:7.5
name:teja

In [62]:
'''keyword args **kwargs'''
def info(**kwargs):
    print("keys:",kwargs.keys()) 
info(name='teja',age=20,cgpa=7.5)

keys: dict_keys(['name', 'age', 'cgpa'])

In [64]:
'''keyword args **kwargs'''
def info(**kwargs):
    print("keys:",kwargs.keys()) 
    print("--------------")
    for values in kwargs:
        print(values)
info(name='teja',age=20,cgpa=7.5)

keys: dict_keys(['name', 'age', 'cgpa'])
--------------
name
age
cgpa

In [66]:
'''keyword args **kwargs'''
def info(**kwargs):
    print("values:",kwargs.keys()) 
    print("--------------")
    for values in kwargs.items():
        print(values)
info(name='teja',age=20,cgpa=7.5)

values: dict_keys(['name', 'age', 'cgpa'])
--------------
('name', 'teja')
('age', 20)
('cgpa', 7.5)

In [68]:
''' print 10 fiboncci umbers using direct recursion'''
def print_fibonacci_numbers(n):
    a, b = 0, 1
    count = 0
    if n <= 0:
        print("Please enter a positive integer.")
    elif n == 1:
        print("Fibonacci sequence up to 1 term:")
        print(a)
    else:
        print(f"Fibonacci sequence up to {n} terms:")
        while count < n:
            print(a, end=" ")
            nth = a + b
            a = b
            b = nth
            count += 1
print_fibonacci_numbers(10)

Fibonacci sequence up to 10 terms:
0 1 1 2 3 5 8 13 21 34